*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/*  --------------------- HEADER -----------------------------  */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.navg {
  display: flex;
  align-items: center;
}

.header-cont {
  display: flex;
  padding: 24px 0;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-adr {
  display: flex;
  gap: 40px;
}
.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus,
.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

.header-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------------------  HERO ----------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding-bottom: 120px;
}

.hero-sect {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  margin-bottom: 188px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

img {
  display: block;
}

.hero-block {
  display: flex;
  padding-top: 120px;
}

.hero-block-list {
  display: flex;
  gap: 24px;
}
.hero-charast {
  padding: 120px 0;
}

.charast {
  width: calc((100% - 3 * 24px) / 4);
}

.hero-featr-cont {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
}

.hero-list {
  color: #2e2f42;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.hero-list-description {
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}

.hero-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.hero-team {
  border-radius: 0 0 4px 4px;
  line-height: 1.333;
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}
.name-cont {
  padding: 32px 0;
}

.hero-team-card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
}
.features {
  padding: 120px 0;
}

.team-card-scnd {
  max-width: 360px;
}

.hero-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.hero-jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 32px;
}
.app {
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;

  padding: 32px 16px;
}

/* --------------------------- FOOTER -------------------------- */

.page-footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  gap: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
}
